
EXERCISE #1

Write a program that uses input to prompt a user for their name and then welcomes them.

In [ ]:
name = input('Enter your name: ')
print('Hello', name)

Enter your name: chuck
Hello chuck

Exercise 2

In [ ]:
hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: "))
pay = hours * rate
print("Pay:", pay)

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

Exercise 3

In [ ]:
width = 17
heigth = 12.0

print(width)
print(height)

result1 =width //2
print("Expression 1: ", result1)

result2 =width /2.0
print("Expression 2: ", result2)

result3 =height /3
print("Expression 3: ", result3)

result4 =1 + 2 * 5
print("Expression 4: ", result4)

17
12.0
Expression 1:  8
Expression 2:  8.5
Expression 3:  4.0
Expression 4:  11

Exercise 4

In [ ]:
number = float(input("Enter a number: "))

square = number ** 2

print("The square of", number, "is", square)

Enter a number: 3
The square of 3.0 is 9.0

In [ ]:
celsius = float(input("Enter the temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print ("The temperature in fahrenheit is", fahrenheit)

Enter the temperature in celsius: 20
The temperature in fahrenheit is 68.0